/*///////////////
/// VARS
*/
#login h1 a, .login h1 a {
  height: 48px;
  width: auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 32px;
}

body.login {
  background-color: #771611;
}
body.login input[type="password"], body.login input[type="text"] {
  border-color: #111626;
}

#login #login_error, #login .message {
  border-left: 4px solid #111626;
}
#login a {
  color: #cccccc !important;
}
#login a:hover, #login a:active {
  color: #FFFFFF !important;
}

.login form .input, .login input[type=text] {
  padding: 8px !important;
}

.login .button-primary {
  background-color: #111626 !important;
  border: 1px solid #192038;
  text-shadow: none;
  box-shadow: #111626 0px 0px 2px 0px;
}
.login .button-primary:hover, .login .button-primary:active {
  background-color: #192038 !important;
  border: 1px solid #212a49;
  box-shadow: #111626 0px 0px 2px 0px;
}
