/*///////////////
/// HEADER
*///////////////

header {
    padding: $spacing--normal;
    font-weight: 700;

    nav, .logo {
        vertical-align: middle;
    }

    .logo {
        width: 50px;
        display: inline-block;
    }

    nav {
        width: calc(100% - 60px);
        display: inline-block;
        text-align: right;
    }

    ul {
        margin: 0;
    }

    li {
        margin-left: $spacing--small;

        @include bp-min-width($bp-tablet) {
            display: inline-block;
        }
    }
}
