/*///////////////
/// LINKS
*///////////////

a {
    color: $color-white;
    text-decoration: none;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.link--cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
