/*///////////////
/// SECTION
*///////////////

section {

    h1 {
        color: $color-white;
        margin-bottom: 0;
        padding: $spacing--tiny;

        @include bp-min-width($bp-tablet) {
            padding: $spacing--normal;
            padding-bottom: 0;
        }
    }
}
