/*///////////////
/// BACKGROUND
*///////////////

.background {
    &--primary { background-color: $color-primary; }
    &--secondary { background-color: $color-secondary; }
    &--black { background-color: $color-black; }
    &--black-light { background-color: $color-black-light; }
    &--grey { background-color: $color-grey; }
    &--white { background-color: $color-white; }

    &--cover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
