/*///////////////
/// BACKGROUND
*///////////////

.background {
    &--primary { background-color: $color-primary; }
    &--secondary { background-color: $color-secondary; }

    &--cover {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}
