/*///////////////
/// COLOR
*///////////////

.color {
    &--primary { color: $color-primary; }
    &--secondary { color: $color-secondary; }
    &--black { color: $color-black; }
    &--white { color: $color-white; }
    &--white-off { color: $color-white-off; }
    &--grey { color: $color-grey; }
}
