/*///////////////
/// DISPLAY
*///////////////

.display {
    &--block { display: block; }
    &--flex { display: flex; }
    &--inline { display: inline; }
    &--inlin-block { display: inline-block; }
}
