/*///////////////
/// MARGIN
*///////////////

.margin-left{
    &--tiny { margin-left: $spacing--tiny; }
    &--small { margin-left: $spacing--small; }
    &--normal { margin-left: $spacing--normal; }
    &--large { margin-left: $spacing--large; }
    &--huge { margin-left: $spacing--huge; }
}

.margin-bottom{
    &--tiny { margin-bottom: $spacing--tiny; }
    &--small { margin-bottom: $spacing--small; }
    &--normal { margin-bottom: $spacing--normal; }
    &--large { margin-bottom: $spacing--large; }
    &--huge { margin-bottom: $spacing--huge; }
}
