/*///////////////
/// PADDING
*///////////////

.padding{
    &--tiny { padding: $spacing--tiny; }
    &--small { padding: $spacing--small; }
    &--normal { padding: $spacing--normal; }
    &--large { padding: $spacing--large; }
    &--huge { padding: $spacing--huge; }
}

.padding-right{
    &--tiny { padding-right: $spacing--tiny; }
    &--small { padding-right: $spacing--small; }
    &--normal { padding-right: $spacing--normal; }
    &--large { padding-right: $spacing--large; }
    &--huge { padding-right: $spacing--huge; }
}
