/*///////////////
/// BREADCRUMBS
*///////////////

.breadcrumbs {
    display: block;
    margin: 0 0 .67em;

    a {
        display: inline-block;
        background-color: $color-primary;
        color: $color-white;
        padding: $spacing--tiny $spacing--normal;
        border-radius: $spacing--normal;
        text-decoration: none;
    }
}
