/*///////////////
/// CONTAINER
*///////////////

.grid {
    display: block;

    padding: $spacing--tiny;

    @include bp-min-width($bp-tablet) {
        padding: $spacing--normal;
    }

    @supports(display: grid) {
        display: grid;

        grid-gap: $spacing--normal;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-auto-flow: row dense;
        @include bp-min-width($bp-tablet) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 30px;
        }
    }
}

.grid-item {
    position: relative;

    min-height: 300px;
    margin: 0 1% $spacing--normal;

    transition: transform 0.1s ease-in-out;

    color: $color-black;
    border-radius: 4px;
    background-color: $color-white;

    @include bp-min-width($bp-tablet) {
        float: left;

        width: 31%;
    }

    @include bp-min-width($bp-desktop--small) {
        float: left;

        width: 23%;
    }

    @supports(display: flex) {
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
    }

    @supports(display: grid) {
        float: none;

        box-sizing: border-box;
        width: auto;
        min-height: auto;

        margin: 0;

        grid-column-start: auto;
        grid-row-start: auto;

        &--full {
            grid-column-end: auto;
            @include bp-min-width($bp-tablet) {
                grid-column: 1/-1;
                grid-row-end: span 2;
            }
        }
    }

    svg {
        display: none;
    }

    &__thumbnail {
        height: 200px;

        border-radius: 4px 4px 0 0;

        @include bp-min-width($bp-tablet) {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }

    &__details {
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;

        height: calc(100% - 200px);
        padding: $spacing--small;

        border-radius: 0 0 4px 4px;
        background: $color-white;

        flex: 1;

        h2, h3 {
            font-size: 1.3rem;
            text-transform: capitalize;
            margin: 0;
        }

        h3 {
            font-size: 0.8rem;
            color: $color-grey;
        }

        p {
            margin-top: 0;
        }

        @supports(display: flex) {
            display: flex;
            flex-direction: column;

            justify-content: flex-start;
        }
    }
}
