/*///////////////
/// CONTAINER
*///////////////

.grid {
    display: block;
    padding: $spacing--tiny;

    @include bp-min-width($bp-tablet) {
        padding: $spacing--normal;
    }

    @supports(display: grid) {
        display: grid;

        grid-gap: $spacing--normal;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-auto-rows: 250px;
        grid-auto-flow: row dense;

        @include bp-min-width($bp-tablet) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 30px;
        }
    }
}

.grid-item {
    position: relative;
    min-height: 300px;
    color: $color-white;
    background-color: $color-primary;
    transition: transform 0.1s ease-in-out;
    margin: 0 1% $spacing--normal;


    @include bp-min-width($bp-tablet) {
        float: left;
        width: 31%;
    }

    @include bp-min-width($bp-desktop--small) {
        float: left;
        width: 23%;
    }

    &:hover {
        transform: scale(1.02);
    }

    @supports(display: flex) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    @supports(display: grid) {
        margin: 0;
        width: auto;
        float: none;
        min-height: auto;

        box-sizing: border-box;

        grid-column-start: auto;
        grid-row-start: auto;

        &--full {
            grid-column-end: auto;
            @include bp-min-width($bp-tablet) {
                grid-column: 1/-1;
                grid-row-end: span 2;
            }
        }
    }

    svg {
        display: none;
    }

    &__thumbnail {
        height: 200px;

        @include bp-min-width($bp-tablet) {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }

    &__details {
        position: relative;
        z-index: 1;

        padding: $spacing--small;

        text-transform: capitalize;

        background: $color-primary;

        h2 {
            margin: 0;
            font-size: 1.3rem;
        }

        p {
            display: block;

            @include bp-min-width($bp-tablet) {
                display: none;
            }
        }
    }
}
