/*///////////////
/// ICONS
*///////////////

.icon {
    position: relative;
    text-align: center;
    color: $color-white;
    fill: $color-white;
    transition: 0.2s fill ease, 0.2s color ease;

    &__{
        &behance { @include active-states() { fill: $color-behance; color: $color-behance; } }
        &codepen { @include active-states() { fill: $color-codepen; color: $color-codepen; } }
        &github { @include active-states() { fill: $color-github; color: $color-github; } }
        &linkedin { @include active-states() { fill: $color-linkedin; color: $color-linkedin; } }
        &outlook { @include active-states() { fill: $color-outlook; color: $color-outlook; } }
        &twitter { @include active-states() { fill: $color-twitter; color: $color-twitter; } }
        &youtube { @include active-states() { fill: $color-youtube; color: $color-youtube; } }
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    span {
        display: none;

        @include bp-min-width($bp-tablet) {
            width: 65px;
            display: block;
        }
    }

    svg {
        width: 22px;
        height: 22px;

        @include bp-min-width($bp-tablet) {
            margin: 0 auto $spacing--tiny;
            width: 32px;
            height: 32px;
        }
    }
}
