/*///////////////
/// PAGINATION
*///////////////

.pagination {
    margin-top: auto;
    clear: both;
    text-align: right;
    padding: $spacing--normal;
    background-color: $color-secondary;

    span {
        margin-left: $spacing--small;
    }

    .current {
        margin-left: 0;
        color: $color-primary;
    }
}
