/*///////////////
/// VARS
*///////////////

$base-unit: 8px;

$bp-tablet: 768px;
$bp-desktop--small: 1024px;

$color-primary : #771611;
$color-secondary : #111626;
$color-white : #FFFFFF;
$color-black : #000000;


$spacing--tiny: $base-unit;
$spacing--small: $base-unit * 2;
$spacing--normal: $base-unit * 4;
$spacing--large: $base-unit * 6;
$spacing--huge: $base-unit * 8;
