/*///////////////
/// VARS
*///////////////

$base-unit: 8px;

$bp-mobile--large: 480px;
$bp-tablet: 640px;
$bp-desktop--small: 1024px;

$color-primary : #771611;
$color-secondary : #111626;
$color-white : #FFFFFF;
$color-white-off : #DEDEDE;
$color-grey : #888;
$color-black : #121212;


/* Brand Colours */

$color-behance: #1769FF;
$color-codepen: #000000;
$color-github: #181717;
$color-linkedin: #1769FF;
$color-outlook: #0072C6;
$color-twitter: #1DA1F2;
$color-youtube: #CD201F;






$color-dark-red : darken($color-primary, 10%);

$spacing--tiny: $base-unit;
$spacing--small: $base-unit * 2;
$spacing--normal: $base-unit * 4;
$spacing--large: $base-unit * 6;
$spacing--huge: $base-unit * 8;
